.app .app-header {
    padding: 0 1rem;
}

@media (min-width: 920px) {
    .app .app-header {
        background-image: url('/public/imagens/img-1-header.png'), url('/public/imagens/img-bg-header.png');
        height: 975px;
        background-repeat: no-repeat;
        background-position: right top;
    }   
}

.app .app-header .text-header {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 6rem auto;
}

.app .app-header .text-header h1 {
    font-family: 'Elsie Swash Caps';
    font-weight: 900;
    font-size: 82px;
    width: 40%;
}

.app .app-header .text-header p {
    width: 40%;
    opacity: .5;
    font-size: 22px;
}

.app .app-header .text-header .little-text {
    font-size: 16px;
}

